<div class="game-module">
    <div class="video">
    </div>
    <div class="description">
        <p>This is a 2D side scrolling game.</p>
        <div class="item">
            <p class="text">Where you play the role of a puppy named Luksi.</p>
            <img class="image" width="380" src="~/Content/images/luksi.png" />
        </div>
        <div class="item">
            <p class="text">Who escaped the fate of his family.</p>
            <img class="image" width="260" src="~/Content/images/family-fate.png" />
        </div>
        <div class="item world-collapse">
            <p class="text">Left to navigate the harsh conditions of a world falling apart.</p>
            <img class="image" width="360" src="~/Content/images/collapsing-world.png" />
        </div>
        <div class="item">
            <p class="text">Hunt for food.</p>
            <img class="image" width="540" src="~/Content/images/hunting.png" />
        </div>
        <div class="item">
            <p class="text">Escape puppy-hungry predators.</p>
            <img class="image" width="400" src="~/Content/images/predator.png" />
        </div>
        <div class="item battle">
            <p class="text">And battle other puppies who hate your guts for side scrolling into their territory.</p>
            <img class="image" width="600" src="~/Content/images/battle.png" />
        </div>
    </div>
</div>
