.blog-module {
  text-align: center;
  padding-bottom: 15px;
  font-size: 80%;
}
.blog-module .post {
  position: relative;
  text-align: left;
  padding: 10px 20px;
  margin: 20px 10%;
  box-shadow: 0px 0px 10px #888888;
  background: rgba(255, 255, 255, 0.5);
}
.blog-module .post .image-container {
  text-align: center;
}
.blog-module .post .date {
  font-size: 12px;
  color: #888888;
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 850px) {
  .blog-module .post {
    margin: 20px 20px;
  }
}
