.red-color {
  color: #fd4800;
}
.green-color {
  color: #008000;
}
html {
  height: 100%;
}
body {
  background-image: url('/Content/images/background.png');
  background-repeat: repeat;
  font-family: cursive, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  color: #35646d;
  height: 100%;
  overflow-y: scroll;
}
img {
  max-width: 100%;
  height: auto;
}
